<center>
<div class="box_div">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<script src="/js/form.js"></script>
</head>
<body>
<body onload = "checkCookies()">
<p id="demo"></p>
<h1> Mike's Pizza App </h1>
<form method = "post" action = "pizza_app_home_page">
<hr>
<h3> Welcome to Mike's Pizza App! We have plenty of options, so feel free to browse what we have by clicking on the button below. </h3>
<br>
<input class = "button" type = "submit" value = "Continue" onclick>
</form>
</body>
</div>
</center>
</div>
</div>
