<center>
<div class="box_div">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<script src="/js/form.js"></script>
</head>
<body>
<body onload = "checkCookies()">
<p id="demo"></p>
<h1> Mike's Pizza App </h1>
<form method = "post" action = "pizza_app_confirmation_page">
<hr>
<h3> Here is a summary of your order. Please click the back button on your web browser if you want to make any changes. Otherwise, please click the Place Order button below to place your order. </h3>
<br><br>
<input class = "button" type = "submit" value = "Place Order" onclick>
<!-- PLACEHOLDER -->
</form>
</body>
</div>
</center>

