<div class="box_div">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<script src="/js/form.js"></script>
</head>
<body>
<body onload = "checkCookies()">
<p id="demo"></p>
<form method = "post" action = "pizza_app_sauces_page">
<h1> Mike's Pizza App </h1>
<hr>
<h3> Thanks! Your pizza is a <%=sizes%> pizza with <%=meats%>, <%=cheese%> and <%=vegetables%>. Please finalize your pizza by selecting the choices below. </h3>
<h1>Sauces</h1>
<label class="container">Tomato Sauce
  <input type="checkbox">
   <id = "checkboxTomatosauce">
  <onclick = "checkboxSauces()">
  <span class="checkmark"></span>
</label>
<label class="container">White Sauce
  <input type="checkbox">
   <<id = "checkboxWhitesauce">
  <onclick = "checkboxSauces()">
  <span class="checkmark"></span>
</label>
<label class="container">Ranch
  <input type="checkbox">
   <id = "checkboxRanchsauce">
  <onclick = "checkboxSauces()">
  <span class="checkmark"></span>
</label>
<label class="container">Mayo
  <input type="checkbox">
   <id = "checkboxMayosauce">
  <onclick = "checkboxSauces()">
  <span class="checkmark"></span>
</label>
<br>
<input class = "button" type = "submit" value = "Next" onclick>
</form>
</body>
</div>