<center>
<div class="box_div">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<script src="/js/form.js"></script>
</head>
<body>
<body onload = "checkCookies()">
<p id="demo"></p>
<h1> Mike's Pizza App </h1>
<form method = "post" action = "pizza_app_final_page">
<hr>
<h3> Your order has been placed. Thank you and enjoy your pizza! </h3>
<br><br>
<!-- PLACEHOLDER -->
</form>
</body>
</div>
</center>