<center>
<div class="box_div">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<script src="/js/form.js"></script>
</head>
<body>
<body onload = "checkCookies()">
<p id="demo"></p>
<h1> Mike's Pizza App </h1>
<form method = "post" action = "pizza_creation_page">
<hr>
<h3> Please customize your pizza by choosing the options below. </h3>
<br><br>
<h1>Toppings</h1>
<label>Pepperoni
  <input type="checkbox">
   <id = "checkboxPepperonitoppings">
  <span class="checkmark"></span>
</label>
<label>Sausage
  <input type="checkbox">
  <id = "checkboxSausagetoppings">
  <span class="checkmark"></span>
</label>
<label>Ham
  <input type="checkbox">
  <id = "checkboxHamtoppings">
  <span class="checkmark"></span>
</label>
<label>Bacon
  <input type="checkbox">
  <id = "checkboxBacontoppings">
  <span class="checkmark"></span>
</label>
<label>Bell Peppers
  <input type="checkbox">
  <id = "checkboxBellpeppertoppings">
  <span class="checkmark"></span>
</label>
<label>Jalapenos
  <input type="checkbox">
  <id = "checkboxJalapenostoppings">
  <span class="checkmark"></span>
</label>
<label>Banana Peppers
  <input type="checkbox">
  <id = "checkboxBananapepperstoppings">
  <span class="checkmark"></span>
</label>
<label>Pepper Jack
  <input type="checkbox">
  <id = "checkboxPepperjacktoppings">
  <span class="checkmark"></span>
</label>
<label>Colby Jack
  <input type="checkbox">
  <id = "checkboxColbyjacktoppings">
  <span class="checkmark"></span>
</label>
<label>Parmesan
  <input type="checkbox">
  <id = "checkboxParmesantoppings">
  <span class="checkmark"></span>
</label>
<label>Mozzerella
  <input type="checkbox">
  <id = "checkboxMozzerellatoppings">
  <span class="checkmark"></span>
</label>
<label>Invisible Box
  <input type="checkbox" hidden checked>
  <id = "checkboxInvisible">
  <span class="checkmark"></span>
</label>
<br><br>
<h1>Sizes</h1>
<input type="radio" name="sizes" value="radioSmall" required>Small<br>
<input type="radio" name="sizes" value="radioMedium">Medium<br>
<input type="radio" name="sizes" value="radioLarge">Large<br>
<br><br>
<h1>Sauces</h1>
<input type="radio" name="sauces" value="tomatoSauce" required>Tomato Sauce<br>
<input type="radio" name="sauces" value="whiteSauce">White Sauce<br>
<input type="radio" name="sauces" value="ranchSauce">Ranch<br>
<input type="radio" name="sauces" value="mayoSauce">Mayo<br>
<br><br>
<h1>Crusts</h1>
<input type="radio" name="crusts" value="stuffedCrust" required>Stuffed Crust<br>
<input type="radio" name="crusts" value="thinCrust">Thin Crust<br>
<input type="radio" name="crusts" value="thickCrust">Thick Crust<br>
<br><br>
<button class = "button" onclick = 'valThis()'>Next</button>
</form>
</body>
</div>
</center>