<center>
<div class="box_div">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<script src="/js/form.js"></script>
</head>
<body>
<body onload = "checkCookies()">
<p id="demo"></p>
<h1> Mike's Pizza App </h1>
<form method = "post" action = "pizzaria">
<hr>
<h3> Please customize your pizza by choosing the options below. </h3>
<br><br>
<h1>Toppings</h1>
<label class="container">Pepperoni
  <input type="checkbox">
   <id = "checkboxPepperonitoppings">
  <span class="checkmark"></span>
</label>
<label class="container">Sausage
  <input type="checkbox">
  <id = "checkboxSausagetoppings">
  <span class="checkmark"></span>
</label>
<label class="container">Ham
  <input type="checkbox">
  <id = "checkboxHamtoppings">
  <span class="checkmark"></span>
</label>
<label class="container">Bacon
  <input type="checkbox">
  <id = "checkboxBacontoppings">
  <span class="checkmark"></span>
</label>
<label class="container">Bell Peppers
  <input type="checkbox">
  <id = "checkboxBellpeppertoppings">
  <span class="checkmark"></span>
</label>
<label class="container">Jalapenos
  <input type="checkbox">
  <id = "checkboxJalapenostoppings">
  <span class="checkmark"></span>
</label>
<label class="container">Banana Peppers
  <input type="checkbox">
  <id = "checkboxBananapepperstoppings">
  <span class="checkmark"></span>
</label>
<label class="container">Pepper Jack
  <input type="checkbox">
  <id = "checkboxPepperjacktoppings">
  <span class="checkmark"></span>
</label>
<label class="container">Colby Jack
  <input type="checkbox">
  <id = "checkboxColbyjacktoppings">
  <span class="checkmark"></span>
</label>
<label class="container">Parmesan
  <input type="checkbox">
  <id = "checkboxParmesantoppings">
  <span class="checkmark"></span>
</label>
<label class="container">Mozzerella
  <input type="checkbox">
  <id = "checkboxMozzerellatoppings">
  <span class="checkmark"></span>
</label>
<br><br>
<h1>Sizes</h1>
<input type="radio" name="sizes" value="radioSmall" required>Small<br>
<input type="radio" name="sizes" value="radioMedium">Medium<br>
<input type="radio" name="sizes" value="radioLarge">Large<br>
<br><br>
<h1>Sauces</h1>
<label class="container">Tomato Sauce
  <input type="checkbox">
   <id = "checkboxTomatosauce">
  <span class="checkmark"></span>
</label>
<label class="container">White Sauce
  <input type="checkbox">
   <id = "checkboxWhitesauce">
  <span class="checkmark"></span>
</label>
<label class="container">Ranch
  <input type="checkbox">
   <id = "checkboxRanchsauce">
  <span class="checkmark"></span>
</label>
<label class="container">Mayo
  <input type="checkbox">
   <id = "checkboxMayosauce">
  <span class="checkmark"></span>
</label>
<br><br>
<h1>Crusts</h1>
<label class="container">Stuffed Crust
  <input type="checkbox">
   <id = "checkboxStuffedcrust">
  <span class="checkmark"></span>
</label>
<label class="container">Thin Crust
  <input type="checkbox">
   <id = "checkboxThincrust">
  <span class="checkmark"></span>
</label>
<label class="container">Thick Crust
  <input type="checkbox">
   <id = "checkboxThickcrust">
  <span class="checkmark"></span>
</label>
<br><br>
<button class = "button" onclick = 'valThis()'>Next</button>
</form>
</body>
</div>
</center>