<div class="box_div">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<script src="/js/form.js"></script>
</head>
<body>
<body onload = "checkCookies()">
<p id="demo"></p>
<h1> Mike's Pizza App </h1>
<form method = "post" action = "pizza_app_toppings_page">
<hr>
<h3> Thanks! Your pizza is a <%=sizes%> pizza. Please continue customizing your pizza by selecting the choices below. </h3>
<br><br>
<h1>Toppings</h1>
<label class="container">Meat(s)
  <input type="checkbox">
   <id = "checkboxMeatstoppings">
  <onclick = "checkboxToppings()">
  <span class="checkmark"></span>
</label>
<label class="container">Vegetable(s)
  <input type="checkbox">
  <id = "checkboxVegetablestoppings">
  <onclick = "checkboxToppings()">
  <span class="checkmark"></span>
</label>
<label class="container">Cheese(s)
  <input type="checkbox">
  <id = "checkboxCheesestoppings">
  <onclick = "checkboxToppings()">
  <span class="checkmark"></span>
</label>
<br><br>
<input class = "button" type = "submit" value = "Next" onclick>
</form>
</body>
</div>