<center>
<div class="box_div_final_page">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<script src="/js/form.js"></script>
</head>
<body>
<body onload = "checkCookies()">
<p id="demo"></p>
<h1> Mike's Pizza App </h1>
<form method = "post" action = "pizza_app_final_page">
<hr>
<h3> Your order has been placed. Thank you and enjoy your pizza! </h3>
<br><br>
<!-- PLACEHOLDER -->
<h3>Your total is $<%=p_total%>.</h3>
<br><br>
<h3>If you chose to have your pizza delivered, then you will see your address below that you gave us. Please contact us at (304) 123-456 if the address that you gave us is incorrect.</h3>
<br><br>
<hr>
<%=confirm_address%>
</form>
</body>
</div>
</center>