body {
	text-align: center;
	background-image: url("/images/background.jpg");
	color: #e0430f; /* Reddish Orange*/
	background-size: cover;
	font-weight: bold;
}


.button {
	background-color: #d2e812; /* Yellow*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

	.button:active{
		background-color: #d3cd10;	/* Yellow*/
		transform: translate(4px);
	}
.box_div {
	font-size: 18px;
	text-align: center;
	align-items: center;
	background-color: lightgrey;
	width: 500px;
	border: 25px solid red;
	padding: 120px;
	margin: 25px;
	height: 400px;
}

#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
}
#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
}
