body {
	text-align: center;
	background-image: url("/images/background.jpg");
	color: black; /* Black*/
	background-size: cover;
	font-weight: bold;
}


.button {
	background-color: #d2e812; /* Yellow*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active{
	background-color: #d3cd10;	/* Yellow*/
	transform: translate(4px);
	}
.box_div_home_page {
	font-size: 18px;
	text-align: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.3);
	width: 22%;
	border: 25px solid red;
	padding: 120px;
	margin: 25px;
	height: 35%;
}
.box_div_creation_page {
	font-size: 18px;
	text-align: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.3);
	width: 25%;
	border: 25px solid red;
	padding: 120px;
	margin: 25px;
	height: 200%;
}
.box_div_confirmation_page {
	font-size: 18px;
	text-align: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.3);
	width: 25%;
	border: 25px solid red;
	padding: 120px;
	margin: 25px;
	height: 200%;
}
.box_div_final_page {
	font-size: 18px;
	text-align: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.3);
	width: 25%;
	border: 25px solid red;
	padding: 120px;
	margin: 25px;
	height: 200%;
}
.topping_choices img{
    height: 35px;
}

.crust_style img{
    height: 35px;
}

.sauce_choices img{
    height: 35px;
}